#!/bin/bash # <- just a syntax hint for GitHub.
# -*- coding: utf-8, tab-width: 2 -*-


JOB[estimated_build_duration_per_variation]='a few minutes'
# Optional. To help humans eagerly staring at the "work in progress"
# status indicator, you can set a free-form text hint about how building
# each variation usually takes.
# (By default, there's only one variation, the default.)


JOB[max_build_duration_sec_per_variation]=$(( 7 * 60 ))
# Optional. Maximum build duration estimate in a machine-readable format:
# seconds, as decimal integer. If you provide this, you'll get a useful
# ETA displayed in GitHub Action's sidebar, without having to click on
# the build job first. This is especially useful with lots of build jobs,
# because the ETA will be for completing all of them.


JOB[lentic_url]='https://github.com/xx_USERNAME_xx/xx_REPOSITORY_xx'
JOB[lentic_ref]='xx_BRANCH_NAME_xx'
# The "lentic" project is what you're trying to build but lacks a
# suitable (work) _flow_.


